# Excluir la base de datos local
db.sqlite3

# Excluir entornos virtuales
venv/

# Excluir cachés de Python
__pycache__/

# Excluir todas las migraciones de todas las apps
**/migrations/*.py
!**/migrations/__init__.py

# Excluir archivos generados automáticamente por collectstatic
staticfiles/

B_PROYECTO_CRM/B_PROYECTO_CRM/settings.py