# Excluir la base de datos local
db.sqlite3

# Excluir entornos virtuales
venv/

# Excluir cachés de Python
__pycache__/

# Excluir todas las migraciones de todas las apps
**/migrations/*
!**/migrations/__init__.py